*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
section {
    height: 100%;
}

button {
    border: none;
    outline: none;
}

main {
    position: relative;
}

.stacked {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

.viewport {
    overflow: hidden;
    cursor: grab;

    pointer-events: auto;
}

.viewport.panning * {
    cursor: grabbing !important;
}

.bubbles-container {
    --max-bubble-size: 15vw;
    --pad: calc(10px + var(--max-bubble-size) / 2);

    height: 100%;
    padding: var(--pad);

    background-color: #e0e0e0;
    transform-origin: 0 0;
    position: relative;

    transition: transform 0.05s ease-out;
}

.bubbles-container.transition {
    transition: transform 1s ease-out;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    user-select: none;

    --width: calc(var(--size) * var(--max-bubble-size));
    width: var(--width);
    height: var(--width);
    font-size: calc(var(--width) / 4);

    position: absolute;
    --add: calc(var(--pad) - (var(--width) / 2));
    left: calc(var(--add) + (var(--x) * (100% - 2 * var(--pad))));
    top: calc(var(--add) + (var(--y) * (100% - 2 * var(--pad))));

    border-radius: 50%;

    cursor: pointer;
}

.bubble.transition {
    transition: left 1.2s cubic-bezier(0.45, 0, 0.55, 1),
        top 1.2s cubic-bezier(0.45, 0, 0.55, 1),
        width 1.2s cubic-bezier(0.45, 0, 0.55, 1),
        height 1.2s cubic-bezier(0.45, 0, 0.55, 1),
        font-size 1.2s cubic-bezier(0.45, 0, 0.55, 1),
        transform 0.2s ease-out,
        filter 0.2s ease-out,
        box-shadow 0.1s ease-out;
}

.bubble:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
    z-index: 5;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.3),
        inset 0 0 0 5px rgba(255, 255, 255, 0.4);
}

.measure-bubble {
    visibility: hidden;
    transition: none !important;

    --size: 1;
    --x: 0;
    --y: 0;
}


.stats {
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: clip-path 5s ease-in-out, opacity 0s ease-in-out;

    clip-path: circle(0px at 50% 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}

.stats.active {
    opacity: 1;
    pointer-events: auto;
}

#disclaimer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    pointer-events: none;
    z-index: 100;
}

.overlay {
    z-index: 20;
    pointer-events: none;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.year-slider-container {
    width: 60%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.current-year {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.year-slider {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
}

.year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    position: relative;
}

.year-ticks {
    width: calc(100% - 28px);
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    padding-bottom: 5px;
}

.year-ticks span {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-ticks span::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #fff;
    padding-bottom: 5px;
}

.year-slider-container {
    position: relative;
}

.current-year {
    position: absolute;
    top: 40px;
    font-size: 12px;
    font-weight: bold;
    background: #333;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
}
